@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #473e3e;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  